.main {
    text-align: center;
}

.Article h1 {
    color: rgba(255, 0, 0, 0.7);
}

.titleOfLang {
    font-family: cursive;
    color: #8478fd;
}

.ArticleBody ul > li {
    list-style-type: none;
}

.ArticleBody ul > li:first-child {
    color: rgba(255, 137, 0, 0.76);
}

.ArticleBody ul > li:nth-child(2){
    color: rgb(56, 206, 21);
}

.ArticleBody ul > li:last-child{
    color: #0040fd;
}